.img3 {
    background: url(../assets/mountains-universe-3.jpg) center center no-repeat;
    background-size: cover;
}

.explorer {
    margin: 6.3rem 0 0 10.2rem;
    transition: margin 0.1s ease;
}

.explorer h2 {
    color: var(--color-font-nav);
    font-size: 4.8rem;
    font-weight: 700;
    transition: font-size 0.3s ease, max-width 0.3s ease, margin 0.3s ease;
}

.explorer p {
    max-width: 64.8rem;
    margin-top: 1.6rem;
    font-size: 1.8rem;
    color: var(--color-main);
    transition: font-size 0.3s ease, max-width 0.3s ease, margin 0.3s ease;
}

@media (max-width: 767px) {
    .explorer {
        margin: 0;
    }

    .explorer h2 {
        font-size: 2.6rem;
        max-width: 14rem;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 4rem;
    }

    .explorer p {
        font-size: 1.4rem;
        max-width: 85vw;
        line-height: 2.4rem;
        margin: auto;
    }
}